* {
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgreen;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: lightseagreen;

}

footer {
    background-color: linen;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    flex-grow: 1;
}

a:hover {
    color: blueviolet;
}

.header-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}